<ion-header>
  <ion-navbar class="navbar-buttons">
    <ion-row center>

      <ion-col width-33>
        <ion-icon name="contact"></ion-icon>
      </ion-col>

      <ion-col width-33>
        <ion-row class="double-button d-btn-border">

          <ion-col class="double-button">
            <ion-icon name="md-flame"></ion-icon>
          </ion-col>

          <ion-col class="double-button">
            <ion-icon name="ios-people"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-col>

      <ion-col width-33>
        <ion-icon name="ios-chatbubbles"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="card-stack" class="z-index-home" swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)">

    <ion-card #mycards1 swing-card *ngFor="let c of cards; trackBy: trackByCards; let i = index" [style.zIndex]= "-1 * i">

      <div>
        <img *ngIf="c.picture" [src]="c.picture.large" />
      </div>

      <ion-card-content *ngIf="c.picture">
          <h2>{{ c.name.first }} {{ c.name.last }}</h2>
          <h3>{{ c.location.city}}</h3>
      </ion-card-content>

    </ion-card>

  </div>

  <ion-row class="home-buttons">
    <ion-col>
      <button ion-fab mini (click)="backLastCard()"><ion-icon color="btn-return" name="ios-refresh"></ion-icon></button>
    </ion-col>

    <ion-col>
      <button ion-fab (click)="voteUp(false)"><ion-icon color="flame-color" name="close"></ion-icon></button>
    </ion-col>

    <ion-col>
      <button ion-fab (click)="voteUp(true)"><ion-icon color="btn-like" name="heart"></ion-icon></button>
    </ion-col>

    <ion-col>
      <button ion-fab mini><ion-icon color="btn-star" name="star"></ion-icon></button>
    </ion-col>
  </ion-row>

</ion-content>
